<div class= "container">
    <section class="cards-banner-two">
        <div class="content">
            <h2>La tecnología 5G y el comercio aéreo internacional.</h2>
            <p>La tecnología ha avanzado mucho ultimamente, llegando al punto de crear redes mucho más nuevas y eficientes, tal como la red 5G. Sin embrago, ¿Puede esta tecnologia afectar a los aviones?.</p>
            <a href="https://www.bbc.com/mundo/noticias-internacional-60048544" target="_blank" alt="Noticia 10" class="btn">Leer Más <i class="fas fa-angle-double-right"></i></a>
        </div>
    </section>
</div>
