<!-- LINKS DEL FOOTER -->
<div class="footer-links">
    <div class="footer-container">
        <ul>
            <li>
                <h3>Frameworks para Desarrollo Web: </h3>
            </li>
            <li>
                <li>
                    <a href= "https://victorroblesweb.es/2017/08/05/que-es-angular-y-para-que-sirve/" target="_blank">Angular</a>
                </li>
                <li>
                    <a href= "https://www.nextu.com/blog/que-es-y-como-funciona-react-js/" target= "_blank">React.js</a>
                </li>
                <li>
                    <a href= "https://codigofacilito.com/articulos/que-es-vue" target= "_blank">Vue</a>
                </li>
                <li>
                    <a href= "https://openwebinars.net/blog/que-es-spring-framework/" target= "_blank">Spring</a>
                </li>
                <li>
                    <a href= "https://developer.mozilla.org/es/docs/Learn/Server-side/Django/Introduction" target= "_blank">Django</a>
                </li>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Frameworks para Videojuegos: </h3>
            </li>
            <li>
                <a href= "https://es.wikipedia.org/wiki/Allegro_(biblioteca_de_programaci%C3%B3n)#:~:text=Allegro%20(pronunciado%20alegro)%20es%20una,videojuegos%20desarrollada%20en%20lenguaje%20C.&text=La%20versi%C3%B3n%205%20de%20Allegro,basada%20en%20OpenGL%20o%20Direct3D." target= "_blank">Allegro</a>
            </li>
            <li>
                <a href= "https://es.wikipedia.org/wiki/SDL" target= "_blank">SDL</a>
            </li>
            <li>
                <a href= "https://en.wikipedia.org/wiki/Gosu_(programming_language)" target= "_blank">Gosu</a>
            </li>
            <li>
                <a href= "https://desarrolloweb.com/articulos/introduccion-phaser" target= "_blank">Phaser</a>
            </li>
            <li>
                <a href= "https://rukbottoland.com/blog/como-programar-juegos-en-python-con-pygame/" target= "_blank">Pygame</a>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Bibliotecas de Ciencia de Datos: </h3>
            </li>
            <li>
                <a href= "https://aprendeconalf.es/docencia/python/manual/numpy/" target= "_blank">Numpy</a>
            </li>
            <li>
                <a href= "https://es.wikipedia.org/wiki/Pandas_(software)" target= "_blank">Pandas</a>
            </li>
            <li>
                <a href= "https://aprendeconalf.es/docencia/python/manual/matplotlib/" target= "_blank">Matplotlib</a>
            </li>
            <li>
                <a href= "https://es.wikipedia.org/wiki/TensorFlow" target= "_blank">TensorFlow</a>
            </li>
            <li>
                <a href= "https://piperlab.es/glosario-de-big-data/keras/" target= "_blank">Keras</a>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Otros Lenguajes de Programación: </h3>
            </li>
            <li>
                <a href= "https://www.ionos.es/digitalguide/servidores/know-how/golang/" target= "_blank">GoLand</a>
            </li>
            <li>
                <a href= "https://www.epitech-it.es/que-es-php/#:~:text=El%20lenguaje%20PHP%2C%20es%20un,y%20a%20la%20interfaz%20del%20usuario." target= "_blank">PHP</a>
            </li>
            <li>
                <a href= "https://openwebinars.net/blog/que-es-cpp/" target= "_blank">C++</a>
            </li>
            <li>
                <a href= "https://es.wikipedia.org/wiki/C_Sharp#:~:text=C%23%20es%20uno%20de%20los,mejoras%20derivadas%20de%20otros%20lenguajes.&text=Aunque%20C%23%20forma%20parte%20de%20la%20plataforma%20." target= "_blank">C#</a>
            </li>
            <li>
                <a href= "https://es.wikipedia.org/wiki/Lenguaje_ensamblador" target= "_blank">Assembly</a>
            </li>
        </ul>
    </div>
</div>

