<!-- BARRA DE NAVEGACION -->
<div class="container">
  <nav class= "nav-main">
      <ul class= "nav-menu">
                <!-- BOTON DE NAVEGACIÓN -->
            <div class= "menu-btn">
                <i class= "fas fa-bars"></i>
            </div>
          <li class= "deploy">
              <a href="https://www.coderhouse.com/blog/que-es-el-desarrollo-web" target="_blank">Desarrollo Web</a><i class="fas fa-code"></i>
                <ul class="sub-menux">
                    <li class="item1">
                        <a href="https://www.seoestudios.es/blog/que-es-backend-web/#:~:text=para%20la%20seguridad-,Qu%C3%A9%20es%20el%20backend,funcionamiento%20de%20un%20sitio%20web." target="_blank">Back-End</a>
                            <ul class="sub-menu1">
                                <li>
                                    <a href="https://www.becas-santander.com/es/blog/python-que-es.html" target="_blank">Python</a>
                                </li>
                                <li>
                                    <a href="https://es.wikipedia.org/wiki/Java_(lenguaje_de_programaci%C3%B3n)" target="_blank">Java</a>
                                </li>
                                <li>
                                    <a href="https://nodejs.org/es/about/" target="_blank">Node.js</a>
                                </li>
                            </ul>
                    </li>
                    <li class="item2">
                        <a href="https://es.wikipedia.org/wiki/Desarrollo_web_Front-end" target="_blank">Front-End</a>
                            <ul class="sub-menu2">
                                <li>
                                    <a href="https://es.wikipedia.org/wiki/CSS" target="_blank">CSS</a>
                                </li>
                                <li>
                                    <a href= "https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web/HTML_basics" target="_blank">HTML</a>
                                </li>
                                <li>
                                    <a href= "https://developer.mozilla.org/es/docs/Web/JavaScript" target= "_blank">JavaScript</a>
                                </li>
                            </ul>
                    </li>
                </ul>
          </li>
          <li class= "deploy">
                <a href= "https://www.solunion.cl/blog/que-es-y-para-que-sirve-la-tecnologia-blockchain/" target="_blank">Blockchain</a><i class="fab fa-bitcoin"></i></i>
          </li>
          <li class= "deploy">
              <a href= "https://es.wikipedia.org/wiki/Inteligencia_artificial" target="_blank">Inteligencia Artificial</a><i class="fas fa-robot"></i>
                <ul class="sub-menux">
                    <li class="item1">
                        <a href="https://eleconomista.com.ar/negocios/data-science-carrera-presente-futuro-mundo-digital-n50018" target="_blank">Ciencia de Datos</a>
                    </li>
                    <li class="item2">
                        <a href= "https://www.hpe.com/lamerica/es/what-is/machine-learning.html#:~:text=El%20aprendizaje%20autom%C3%A1tico%20(ML)%20se,sido%20programados%20espec%C3%ADficamente%20para%20ello." target="_blank">Aprendizaje Automático</a>
                    </li>
                    <li class="item3">
                        <a href= "https://aptus.com.ar/de-que-se-trata-el-aprendizaje-profundo-y-cuales-son-sus-caracteristicas/" target="_blank">Aprendizaje Profundo</a>
                    </li>
                    <li class= "item4">
                        <a href= "https://cincodias.elpais.com/cincodias/2020/05/16/pyme/1589639735_701452.html" target="_blank">Big Data</a>
                    </li>
                </ul>
          </li>
          <li class="deploy">
              <a href= "https://www.oracle.com/ar/database/what-is-database/" target="_blank">Bases de Datos</a><i class="fas fa-database"></i>
                <ul class="sub-menux">
                    <li class="item1">
                        <a href= "https://www.oracle.com/ar/database/what-is-a-relational-database/" target= "_blank">Relacionadas / SQL</a>
                            <ul class="sub-menu1">
                                <li>
                                    <a href="https://www.computerweekly.com/es/definicion/MySQL" target="_blank">MySQL Server</a>
                                </li>
                                <li>
                                    <a href= "https://hostingplus.com.ar/blog/que-es-mariadb-y-cuales-son-sus-caracteristicas/" target="_blank">MariaDB</a>
                                </li>
                                <li>
                                    <a href= "https://es.wikipedia.org/wiki/PostgreSQL" target="_blank">PostgreSQL</a>
                                </li>
                                <li>
                                    <a href= "https://es.wikipedia.org/wiki/Microsoft_SQL_Server" target="_blank">Microsoft SQL Server</a>
                                </li>
                            </ul>
                    </li>
                    <li class="item2">
                        <a href= "https://ayudaleyprotecciondatos.es/bases-de-datos/no-relacional/" target="_blank">No Relacionadas / NO SQL</a>
                            <ul class= "sub-menu2">
                                <li>
                                    <a href= "https://www.arsys.es/blog/programacion/mongodb-cloud" target="_blank">MongoDB</a>
                                </li>
                                <li>
                                    <a href= "https://www.sas.com/es_ar/insights/big-data/hadoop.html" target="_blank">Apache Hadoop</a>
                                </li>
                                <li>
                                    <a href= "https://es.wikipedia.org/wiki/Redis" target="_blank">Redis</a>
                                </li>
                                <li>
                                    <a href= "https://blog.powerdata.es/el-valor-de-la-gestion-de-datos/cassandra-base-de-datos-agilidad-y-rendimiento-a-prueba-de-fallos" target="_blank">Apache Cassandra</a>
                                </li>
                        </ul>
                    </li>
                </ul>
          </li>
          <li class="deploy">
              <a href= "https://www.computerweekly.com/es/definicion/Desarrollo-de-aplicaciones-moviles#:~:text=El%20desarrollo%20de%20aplicaciones%20m%C3%B3viles%20es%20el%20conjunto%20de%20procesos,inteligentes%20y%20otros%20dispositivos%20port%C3%A1tiles." target="_blank">Desarrollo Movil</a><i class="fas fa-mobile"></i>
                    <ul class="sub-menux">
                        <li class="item1">
                            <a href= "https://immune.institute/lenguajes-de-programacion-para-movil/" target="_blank">Lenguajes</a>
                                <ul class="sub-menu1">
                                    <li>
                                        <a href= "https://es.wikipedia.org/wiki/Java_(lenguaje_de_programaci%C3%B3n)" target="_blank">Java</a>
                                    </li>
                                    <li>
                                        <a href= "https://developer.android.com/kotlin/overview?hl=es-419" target="_blank">Kotlin</a>
                                    </li>
                                    <li>
                                        <a href= "https://es.wikipedia.org/wiki/Swift_(lenguaje_de_programaci%C3%B3n)" target="_blank">Swift</a>
                                    </li>
                                </ul>
                        </li>
                        <li class="item2">
                            <a href= "https://www.appandweb.es/blog/frameworks-aplicaciones-moviles-hibridas/" target="_blank">Frameworks</a>
                                <ul class="sub-menu2">
                                    <li>
                                        <a href= "https://profile.es/blog/que-es-flutter-sdk/" target="_blank">Flutter</a>
                                    </li>
                                    <li>
                                        <a href= "https://profile.es/blog/que-es-ionic/" target="_blank">Ionic</a>
                                    </li>
                                    <li>
                                        <a href= "https://www2.deloitte.com/es/es/pages/technology/articles/que-es-react-native.html" target="_blank">React Native</a>
                                    </li>
                                </ul>
                        </li>
                    </ul>
          </li>
          <li class="deploy">
              <a href= "https://ecuador.unir.net/actualidad-unir/que-es-seguridad-informatica/" target="_blank">Seguridad informatica</a> <i class= "fas fa-lock"></i>
                <ul class="sub-menux">
                    <li class="item1">
                        <a href= "https://protecciondatos-lopd.com/empresas/seguridad-hardware/" target="_blank">Seguridad de Hardware</a>
                    </li>
                    <li class="item2">
                        <a href= "https://en.wikipedia.org/wiki/Computer_security_software" target="_blank">Seguridad de Software</a>
                    </li>
                    <li class="item3">
                        <a href= "https://www.cisco.com/c/es_mx/products/security/what-is-network-security.html" target="_blank">Seguridad de Red</a>
                    </li>
                </ul>
          </li>
          <li class= "deploy">
              <a href= "/">Home</a> <i class= "fas fa-home"></i>
          </li>
      </ul>
  </nav>
  <hr>
</div>

