<div class= "container">
    <div class= "news-cards">
        <div class= "card">
            <div class= "card-header">
                <img src= "img/tesla.jpg" alt= "tesla" class= "card-img6">
            </div>
            <div class= "card-body">
                <h3>La historia del gigante del mercado tecnológico, Tesla.</h3>
                <p>Conoce la historia de como la empresa más valiosa de los Estados Unidos, paso de ser un sueño de un simple ingeniero sudafricano, Elon Musk, a ser la empresa que lo llevo a convertirse en el hombre más rico del mundo actualmente.</p>
                <a href= "https://www.autobild.es/coches/tesla/historia" target= "_blank"></i>Leer más <i class= "fas fa-angle-double-right"></i></a>
            </div>
        </div>
        <div class= "card">
            <div class= "card-header">
                <img src= "img/deep-web.jpg" alt= "deep-web" class= "card-img7">
            </div>
            <div class= "card-body">
                <h3>¿Qué es y para qué sirve la deep web?.</h3>
                <p>Internet no es la única capa de la red, debajo suyo se encuentra un rincón oscuro de la red donde se realizan actos tanto legales como ilegales, como el tráfico de drogas, asesinatos y terrorismo. Conoce aquí con más detalle.</p>
                <a href= "https://revistadigital.inesem.es/informatica-y-tics/para-que-sirve-la-deep-web/#:~:text=La%20Deep%20Web%20se%20refiere,otro%20%E2%80%9Cnivel%E2%80%9D%20de%20Internet." target= "_blank">Leer más <i class= "fas fa-angle-double-right"></i></a>
            </div>
        </div>
        <div class= "card">
            <div class= "card-header">
                <img src= "img/consola.jpg" alt= "consola - Videojuegos" class= "card-img8">
            </div>
            <div class= "card-body">
                <h3>Los Videojuegos y la alta complejidad en su Desarrollo.</h3>
                <p>Detras de los mejores juegos, hay muchos cálculos y diseños los cuales integran sus increíbles graficos que se presentan al día de hoy. Averigua las etapas que se necesitan para crear y desarrollar un videojuego.</p>
                <a href= "https://www.industriaanimacion.com/2019/09/las-etapas-para-desarrollar-un-videojuego/" target= "_blank">Leer más <i class= "fas fa-angle-double-right"></i></a>                
            </div>
        </div>
        <div class= "card">
            <div class= "card-header">
                <img src= "img/desarrollo-web.jpg" alt= "desarrollo_web - web" class= "card-img9">
            </div>
            <div class= "card-body">
            <h3>Lenguajes y Frameworks para el Desarrolo Web.</h3>
            <p>Aprende los mejores lenguajes y Frameworks para el desarrollo de páginas web, que es tan demandado y conocido en el presente.</p>
            <a href= "https://diegooo.com/frameworks-de-desarrollo-web-mas-solicitados-en-2021/" target= "_blank">Leer más <i class= "fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</div>