<div class="container">
    <div class="news-cards">
        <div class= "card">
            <div class= "card-header">
                <img src="img/inteligencia-artificial.jpg" alt="inteligencia_artificial - robots" class= "card-img1">
            </div>
            <div class= "card-body">
                <h3>¿Las Inteligencias Artificiales son beneficiosas?.</h3>
                <p>Las máquinas analógicas y digitales siempre se han utilizado para ayudar a diseñadores de entornos
                laborales, desde a automatizar tareas, como para vigilarlas también. Pero, ¿en verdad son tan
                beneficiosas?</p>
                <a href="https://www.bbva.com/es/identidad-digital-machine-learning-y-criptografia-avanzada-los-cambios-tecnologicos-de-la-era-post-covid-19/"
                target="_blank">Leer más <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
        <div class= "card">
            <div class= "card-header">
                <img src="img/covid.jpg" alt="covid - pandemia- barbijo" class= "card-img2">
            </div>
            <div class= "card-body">
                <h3>El covid y sus efectos en el mercado tecnológico.</h3>
                <p>La pandemia ha traido muchas consecuencias negativas a negocios tanto locales como extranjeros, sin
                también ha llevado consigo grandes cambios positivos, tales como el aumento de infraestructura
                tecnológica, avanzando así mucho más que en otros años.</p>
                <a href="https://www.bbva.com/es/identidad-digital-machine-learning-y-criptografia-avanzada-los-cambios-tecnologicos-de-la-era-post-covid-19/"
                target="_blank">Leer más <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
        <div class= "card">
            <div class= "card-header">
                <img src="img/celular.jpg" alt="delular - telefono" class= "card-img3">
            </div>
            <div class= "card-body">
                <h3>Ruta de Aprendizaje del Desarrollo Movil.</h3>
                <p>El uso de aplicaciones movil ha tenido un auge increiblemente alto en estos últimos años, generando tanto
                solución a una demanda realmente grande, como también millones de dolares al año en el mundo. Conoce
                aquí como iniciar en este apasionante rubro.</p>
                <a
                href="https://elevatecnologia.com/computadoras/su-ruta-de-aprendizaje-para-convertirse-en-desarrollador-de-android/" target= "_blank">Leer
                más <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
        <div class= "card">
            <div class= "card-header">
                <img src="img/hacker.jpg" alt="hacker - seguridad_informatica" class= "card-img4">
            </div>
            <div class= "card-body">
                <h3>Hackeo "a gran escala" israelí, a periodistas de El Salvador.</h3>
                <p>Los teléfonos celulares de casi tres docenas de periodistas y activistas de El Salvador fueron pirateados
                con el sofisticado software espía Pegasus, según ha descubierto el instituto canadiense Citizen Lab y
                confirmado Amnistía Internacional.</p>
                <a href="https://www.bbc.com/mundo/noticias-america-latina-59985209" target="_blank">Leer más <i
                    class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</div>
