<!-- SHOWCASE -->
<div class="container">
    <header class= "showcase">
        <h2>Gran noticia de hoy:</h2>
        <p class="lorem">Elon Musk empieza los ensayos para implantar un chip en el cerebro que perimite guardar y reproducir recuerdos.</p>
        <a href= "https://computerhoy.com/noticias/tecnologia/elon-musk-comienza-ensayos-implantar-chip-cerebro-permita-guardar-reproducir-recuerdos-1000537" target= "_blank" class= "btn"> Leer más <i class= "fas fa-angle-double-right"></i></a>
    </header>
</div>

