<!-- REDES SOCIALES -->
<div class="container">
    <section class="social">
        <h3>Siguenos en nuestras redes sociales: </h3>
        <!-- LINKS -->
        <div class="links">
            <!-- GITHUB -->
            <a href="https://github.com/Emiliano-Barahona" target= "_blank">
                <i class= "fab fa-github"></i>
            </a>
            <!-- INSTAGRAM -->
            <a href="https://www.instagram.com/eemibarahona/" target= "_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <!-- LINKEDIN -->
            <a href="https://www.linkedin.com/in/emiliano-barahona-566563217/" target= "_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </section>
</div>

